.SortDiv {
  display: flex;
  width: 95%;
  height: 400px;
  align-items: flex-end;
  border: 2px solid gray;
}

.SortWindow {
  display: flex;
  justify-content: center;
}

body {
  background-color: whitesmoke;
}

button:hover {
  background-color: gray;
}

.SortButtonSelected {
  border: 4px solid rgb(18, 224, 145);
}

.SortMethodSelected {
  border: 4px solid rgb(27, 65, 235);
}

button {
  border-radius: 0px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
  color: black
}

.SortButtons {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.SortBar {
  display: flex;
}
